/* Основной фон */
QWidget {
    background-color: #1e1e1e;
    color: #9b59b6;
    font-weight: bold;  /* Жирный текст по умолчанию */

}

/* Названия параметров */
QLabel {
    color: #d3d3d3;
    font-size: 11px;
    font-weight: bold;  /* Жирный текст */
    margin-bottom: 2px;
}

/* Поля ввода */
QLineEdit {
    background-color: #3c3f41;
    color: #d3d3d3;
    border: 1px solid #5c5f62;
    padding: 3px;
    margin-bottom: 3px;
    border-radius: 5px;
    font-size: 11px;
}

/* Поля ввода в фокусе */
QLineEdit:focus {
    border: 1px solid #9b59b6;
}

/* Кнопка запуска */
QPushButton {
    background-color: #9b59b6;
    color: #fff;
    border-radius: 8px;
    padding: 6px;
    font-size: 13px;
    border: none;
    margin-top: 4px; /* Сдвинули ближе к параметрам */
}

/* Эффекты кнопки */
QPushButton:hover {
    background-color: #8e44ad;
}
QPushButton:pressed {
    background-color: #7d3c92;
}

/* Консоль */
QTextEdit {
    background-color: #2b2b2b;
    color: #ffffff;
    border: none;
    padding: 6px;
    font-size: 11px;
    border-radius: 8px;
}
/* Стиль для вкладок */
QTabWidget::pane {
    border: none;  /* Убираем рамки вокруг панели вкладок */
}

QTabBar::tab {
    background-color: #444444;  /* Темный фон вкладки */
    color: #d3d3d3;  /* Светлый цвет текста */
    padding: 8px 16px;
    border: 1px solid #555555;  /* Легкая рамка */
}

QTabBar::tab-bar {
    alignment: center;  /* Выравнивание вкладок по центру */
}

QTabBar::tab {
    background-color: #333333;  /* Темный фон для вкладки */
    color: #d3d3d3;  /* Цвет текста вкладки */
    padding: 6px 12px;
}

QTabBar::tab:selected {
    background-color: #9b59b6;  /* Цвет активной вкладки */
    color: #fff;  /* Цвет текста активной вкладки */
}


